<app-main-top></app-main-top>

<div
  class="position-relative"
  style="
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../assets/img/LadyHomeBackground.jpg');
    height: 100vh;
  "
>
  <div
    class="position-absolute w-100 h-100"
    style="background-color: rgba(0, 0, 0, 0.6)"
  >
    <div class="d-flex justify-content-center align-items-center h-100">
      <h1 class="text-white mb-0" style="font-family: 'Pattaya'">
        Welcome To Our STORE, Emergency Code C
      </h1>
    </div>
  </div>
</div>

<app-main-footer></app-main-footer>
